* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
}

body {
  margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Left and right column */
/* .column.side {
  width: 25%;
} */

/* Middle column */
.column.middle {
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  /* .column.side,
  .column.middle {
    width: 100%;
  } */
  .row {
    flex-direction: column;
    align-items: center;
  }
  .column {
    width: 100%;
  }
}
